/* assets/css/fonts.css */

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/Noto_Sans_JP/static/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/Noto_Sans_JP/static/NotoSansJP-Bold.ttf') format('truetype');
  font-weight: 700;
}